<!-- update-vehicule.component.html -->
<br>
<div class="container">
  <h2>Update Vehicule</h2>
  <br>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="id" [(ngModel)]="vehicule.id" name="id" readonly>
    </div>
    <br>
    <div class="form-group">
      <label for="numeroMatricule">Numero Matricule:</label>
      <input type="text" class="form-control" id="numeroMatricule" [(ngModel)]="vehicule.numeroMatricule" name="numeroMatricule">
    </div>
    <br>
    <div class="form-group">
      <label for="marque">Marque:</label>
      <input type="text" class="form-control" id="marque" [(ngModel)]="vehicule.marque" name="marque">
    </div>
    <br>
    <div class="form-group">
      <label for="puissanceFiscale">Puissance Fiscale:</label>
      <input type="number" class="form-control" id="puissanceFiscale" [(ngModel)]="vehicule.puissanceFiscale" name="puissanceFiscale">
    </div>
    <br>
    <div class="form-group">
      <label for="modele">Modele:</label>
      <input type="text" class="form-control" id="modele" [(ngModel)]="vehicule.modele" name="modele">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
