<body>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item logo">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/logo.png" width="50" height="50">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proprietaires" routerLinkActive="active">Proprietaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicules" routerLinkActive="active">Vehicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/radars" routerLinkActive="active">Radars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/infractions" routerLinkActive="active">Infractions</a>
      </li>
    </ul>
  </div>
</nav>
<main>

</main>

<router-outlet>

</router-outlet>
</body>

